# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_STATE_HOME="$HOME/.local/state"

# Core
export EDITOR="nvim"
export VISUAL="nvim"
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"

# PATH
export PATH="$HOME/.local/bin:$PATH"

{{ if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
{{ else if .wsl }}
export PATH="$PATH:/mnt/c/Windows/System32"
{{ end }}